.field{
    width: 100%;
    height: 40px;
    margin-left: 18px;
    background-color:aliceblue;
    border: none;
  }
  .loginsubmit{
    margin-left: 18px;
    width: 100%;
    height: 40px;
    background-color: #04AA6D;
    border: none;
  }
  .loginbackground{
    background-color:azure;
  }
  